@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
  font-family: Times;
} */

body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  height: 100%;
  width: 100%;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
